@media screen and (min-width: 1080px) and (max-width: 1500px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        width: max-content;
        height: max-content;
    }

    /*Grid item*/
    .grid-item {
        width: max-content;
        height: max-content;
        margin: 0;
        padding: 0;
    }

    footer {
        width: max-content;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 16px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
    }
}

@media screen and (min-width: 980px) and (max-width: 1080px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        width: max-content;
        height: max-content;
    }
}

@media screen and (min-width: 800px) and (max-width: 980px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        width: max-content;
        height: max-content;
    }
}