@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/*BODY*/
body {
    width: 1000px;
    height: auto;
    background-color: whitesmoke;
    margin: 30px;
}

/*HEADER*/
header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;

    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;

    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/*MAIN*/
main {
    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
}

/*Img*/
img {
    width: 155px;
    height: 188px;
    margin: 0;
    padding: 0;
}


/*Grid container*/
.grid-container {
    width: 840px;
    height: auto;

    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

/*Grid item*/
.grid-item {
    width: 160px;
    height: 188px;
    margin: 0;
    padding: 0;
}